@model ASP.NET_CORE_WEB_SQL.Models.Product


<h2>Thêm sản phẩm</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div >
        <label class="form-label" asp-for="Name">Nhập Tên</label>
        <input asp-for="Name" class="form-control" type="text"  />
    </div>
    <div>
        <label class="form-label" asp-for="Price">Nhập giá</label>
        <input asp-for="Price" class="form-control" type="number" />
    </div>
    <div> 
        <label class="form-label" asp-for="Description">Nhập mô tả</label>
        <textarea class="form-control" rows="3" asp-for="Description" ></textarea>

    </div>
    <div>
        <label asp-for="ImagePath" class="form-label">Thêm ảnh</label>
        <input type="file" class="form-control" name="imageFile" />
    </div>

    <button class="btn btn-success text-white rounded mt-2 py-2 px-4" type="submit">Thêm</button>

</form>